<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.Practica8">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Practica8.Android">
    <activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity" android:launchMode="singleTop" android:noHistory="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="tesh.azurewebsites.net" android:host="easyauth.callback" />
        <data android:scheme="msal78ff4792-4fb1-4d7e-9f0d-b843d468bfed" android:host="auth" />
      </intent-filter>
    </activity>

  </application>
</manifest>
